<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Process_Gate_Managment_System.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <Process_Gate_Managment_System.Properties.Settings>
            <setting name="GateSerialPort" serializeAs="String">
                <value />
            </setting>
            <setting name="GateIP" serializeAs="String">
                <value />
            </setting>
            <setting name="GateNetPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GateMessageTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GateReadCardTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GateSalon1ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GateSalon1Door" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GateSalon1OpenDoorTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GateSalon1RollCallType" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="GateSalon2ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GateSalon2Door" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GateSalon2OpenDoorTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GateSalon2RollCallType" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="GateSalon3ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GateSalon3Door" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GateSalon3OpenDoorTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GateSalon3RollCallType" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="GateSalon4ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GateSalon4Door" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GateSalon4OpenDoorTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GateSalon4RollCallType" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="RollCallComputerMessageTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RollCallDebtValidation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RollCallShopValidation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RollCallInsuranceValidation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RollCallInformationType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RollCallInformationTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RollCallInformationDetails" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SoundVolume" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SoundLogin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SoundLogout" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LockStatus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LockAllocateType" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="LockType" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="LockReaderPort" serializeAs="String">
                <value />
            </setting>
            <setting name="LockIP" serializeAs="String">
                <value />
            </setting>
            <setting name="LockNetPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LockReaderAddress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LockOpenTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LockSalonID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConnectionServername" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnectionDatabasename" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnectionUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnectionPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="GateDevice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GateSalon1Shortkey" serializeAs="String">
                <value />
            </setting>
            <setting name="GateSalon1PrintFish" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GateSalon2Shortkey" serializeAs="String">
                <value />
            </setting>
            <setting name="GateSalon2PrintFish" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GateSalon3Shortkey" serializeAs="String">
                <value />
            </setting>
            <setting name="GateSalon3PrintFish" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GateSalon4Shortkey" serializeAs="String">
                <value />
            </setting>
            <setting name="GateSalon4PrintFish" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LoginUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="LoginPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="LoginRemember" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RollCallLogoutTimeout" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReceiptHeader" serializeAs="String">
                <value />
            </setting>
            <setting name="ReceiptFooter" serializeAs="String">
                <value />
            </setting>
            <setting name="LockControllerPort" serializeAs="String">
                <value />
            </setting>
            <setting name="GateInputRemotePort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GateOutputRemotePort" serializeAs="String">
                <value>0</value>
            </setting>
        </Process_Gate_Managment_System.Properties.Settings>
    </userSettings>
</configuration>
