<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Process_Log_Managment_System.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime><legacyUnhandledExceptionPolicy enabled="true"/></runtime>  
<startup useLegacyV2RuntimeActivationPolicy="true">
  
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <userSettings>
    <Process_Log_Managment_System.Properties.Settings>
      <setting name="LoginUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="LoginPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="LoginRemember" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RegiterCompany" serializeAs="String">
        <value />
      </setting>
      <setting name="RegisterDate" serializeAs="String">
        <value />
      </setting>
      <setting name="RegisterKey" serializeAs="String">
        <value />
      </setting>
      <setting name="ConnectionServername" serializeAs="String">
        <value />
      </setting>
      <setting name="ConnectionDatabasename" serializeAs="String">
        <value />
      </setting>
      <setting name="ConnectionUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="ConnectionPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="ConnectionPath1" serializeAs="String">
        <value />
      </setting>
      <setting name="ConnectionPath2" serializeAs="String">
        <value />
      </setting>
      <setting name="ConnectionAuto" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ReaderServername" serializeAs="String">
        <value />
      </setting>
      <setting name="ReaderPort" serializeAs="String">
        <value />
      </setting>
      <setting name="ReceiptHeader" serializeAs="String">
        <value />
      </setting>
      <setting name="ReceiptFooter" serializeAs="String">
        <value />
      </setting>
      <setting name="PanelSignature" serializeAs="String">
        <value />
      </setting>
      <setting name="PanelUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="PanelPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="PanelNumber" serializeAs="String">
        <value />
      </setting>
      <setting name="PanelIP" serializeAs="String">
        <value />
      </setting>
      <setting name="PanelStatus" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PanelBirthdayStatus" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PanelBirthdayMessage" serializeAs="String">
        <value />
      </setting>
      <setting name="PanelMarriageStatus" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PanelMarriageMessage" serializeAs="String">
        <value />
      </setting>
      <setting name="PanelInsuranceStatus" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PanelInsuranceMessage" serializeAs="String">
        <value />
      </setting>
      <setting name="PanelWelcomeStatus" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PanelWelcome1Message" serializeAs="String">
        <value />
      </setting>
      <setting name="PanelWelcome2Message" serializeAs="String">
        <value />
      </setting>
      <setting name="PanelExpireRegisterStatus" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PanelDayCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PanelSessionCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PanelRegisterStatus" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PanelMobile" serializeAs="String">
        <value />
      </setting>
      <setting name="PanelEmail" serializeAs="String">
        <value />
      </setting>
      <setting name="PanelGender" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PanelCredit" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PanelExpire" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PanelExpireRegisterMessage" serializeAs="String">
        <value />
      </setting>
      <setting name="CameraName" serializeAs="String">
        <value />
      </setting>
      <setting name="MemberIDStatus" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MemberIDLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="MemberIDColor" serializeAs="String">
        <value />
      </setting>
      <setting name="CardIDStatus" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CardIDLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="CardIDColor" serializeAs="String">
        <value />
      </setting>
      <setting name="FirstNameStatus" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FirstNameLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="FirstNameColor" serializeAs="String">
        <value />
      </setting>
      <setting name="LastNameStatus" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastNameLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="LastNameColor" serializeAs="String">
        <value />
      </setting>
      <setting name="BirthDayStatus" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BirthDayLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="BirthDayColor" serializeAs="String">
        <value />
      </setting>
      <setting name="MobileStatus" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MobileLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="MobileColor" serializeAs="String">
        <value />
      </setting>
      <setting name="FaceStatus" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FaceLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="FaceBorderColor" serializeAs="String">
        <value />
      </setting>
      <setting name="MaleMemberID1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MaleMemberID2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MaleMemberID3" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MaleMemberID4" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MaleMemberID5" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MaleMemberID6" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MaleMemberID7" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MaleMemberID8" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MaleMemberID9" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FemaleMemberID1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FemaleMemberID2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FemaleMemberID3" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FemaleMemberID4" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FemaleMemberID5" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FemaleMemberID6" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FemaleMemberID7" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FemaleMemberID8" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FemaleMemberID9" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ReaderActive" serializeAs="String">
        <value>False</value>
      </setting>
    </Process_Log_Managment_System.Properties.Settings>
  </userSettings>
</configuration>
