USE [Log]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[EditPlan] 
	@PlanId [int] ,
	@SportHistory [int] ,
	@SportHistoryDescription [nvarchar](max) ,
	@SupplementHistory [bit] ,
	@SupplementDescription [nvarchar](max) ,
	@ChangeWeightHistory [bit] ,
	@ChangeWeightDescription [nvarchar](max) ,
	@UseSupplement [bit] ,
	@UseSupplementDescription [nvarchar](max) ,
	@Target [nvarchar](max) ,
	@TargetDescription [nvarchar](max) ,
	@Length [int] ,
	@Weigh [int] ,
	@ShoulderSize [int],
	@NeckSize [int] ,
	@LumbarSize [int] ,
	@ChestSize [int] ,
	@RightArmSize [int] ,
	@LeftArmSize [int] ,
	@RightForearmSize [int] ,
	@LeftForearmSize [int] ,
	@RightHipSize [int] ,
	@LeftHipSize [int] ,
	@RightThighSize [int] ,
	@LeftThighSize [int] ,
	@RightLegSize [int] ,
	@LeftLegSize [int] ,
	@RightWristSize [int] ,
	@LeftWristSize [int] ,
	@HeartBeat [int] ,
	@BloodPressure [int] ,
	@BloodGlucose [int] ,
	@BloodFat [int] ,
	@Metabolism [int] ,
	@TotalBodyWater [int] ,
	@SizeDescription [nvarchar](max) ,
	@SicknessHistory [bit] ,
	@SicknessHistoryDescription [nvarchar](max) ,
	@UseSicknessType [nvarchar](max) ,
	@FoodSensitivity [bit] ,
	@FoodSensitivityDescription [nvarchar](max) ,
	@SicknessDescription [nvarchar](max) ,
	@Description [nvarchar](max) ,
	@Picture1 [image],
	@Picture2 [image],
	@Picture3 [image],
	@Picture4 [image],
	@Picture5 [image],
	@Picture6 [image],
	@Picture7 [image],
	@Picture8 [image]
AS
BEGIN
	SET NOCOUNT ON;
	UPDATE [Plans] SET
	SportHistory=@SportHistory,
	SportHistoryDescription=@SportHistoryDescription,
	SupplementHistory=@SupplementHistory,
	SupplementDescription=@SupplementDescription,
	ChangeWeightHistory=@ChangeWeightHistory,
	ChangeWeightDescription=@ChangeWeightDescription,
	UseSupplement=@UseSupplement,
	UseSupplementDescription=@UseSupplementDescription,
	Target=@Target,
	TargetDescription=@TargetDescription,
	Length=@Length,
	Weigh=@Weigh,
	ShoulderSize = @ShoulderSize,
	NeckSize=@NeckSize,
	LumbarSize=@LumbarSize,
	ChestSize=@ChestSize,
	RightArmSize=@RightArmSize,
	LeftArmSize=@LeftArmSize,
	RightForearmSize=@RightForearmSize,
	LeftForearmSize=@LeftForearmSize,
	RightHipSize=@RightHipSize,
	LeftHipSize=@LeftHipSize,
	RightThighSize=@RightThighSize,
	LeftThighSize=@LeftThighSize,
	RightLegSize=@RightLegSize,
	LeftLegSize=@LeftLegSize,
	RightWristSize=@RightWristSize,
	LeftWristSize=@LeftWristSize,
	HeartBeat=@HeartBeat,
	BloodPressure=@BloodPressure,
	BloodGlucose=@BloodGlucose,
	BloodFat=@BloodFat,
	Metabolism=@Metabolism,
	TotalBodyWater=@TotalBodyWater,
	SizeDescription=@SizeDescription,
	SicknessHistory=@SicknessHistory,
	SicknessHistoryDescription=@SicknessHistoryDescription,
	UseSicknessType=@UseSicknessType,
	FoodSensitivity=@FoodSensitivity,
	FoodSensitivityDescription=@FoodSensitivityDescription,
	SicknessDescription=@SicknessDescription,
	Description=@Description,
	Picture1=@Picture1,
	Picture2=@Picture2,
	Picture3=@Picture3,
	Picture4=@Picture4,
	Picture5=@Picture5,
	Picture6=@Picture6,
	Picture7=@Picture7,
	Picture8=@Picture8
	WHERE PlanId = @PlanId;
END
