USE [Log]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DeletePlan] 
	@PlanId int = 0
AS
BEGIN
	SET NOCOUNT ON;
	UPDATE Plans SET Active=0 WHERE PlanId = @PlanId;
END
