USE [Log]

GO

UPDATE Users SET Permissions = 'Login,ChangePassword,Backup,MaleMembers,FemaleMembers,AddFingerPrint,DeleteFingerPrint,ListOfFingerPrints,AddMember,EditMember,DeleteMember,PrintMembers,MembersDiagram,MemberToVcf,AddRegister,EditRegister,DeleteRegister,ListOfRegisters,PrintRegister,PrintRegisters,RegistersDiagram,Sms,AddPlan,EditPlan,DeletePlan,ListOfPlans,AddTransaction,EditTransaction,DeleteTransaction,ListOfMemberTransactions,ListOfMembersTransactions,PrintTransaction,PrintTransactions,MaleTickets,FemaleTickets,AddTicket,DeleteTicket,EditTicket,PrintTicket,PrintTickets,TicketsDiagram,AddHoliday,EditHoliday,DeleteHoliday,ListOfHolidays,AddMessage,AddGroupMessage,DeleteMessage,ListOfMessages,AddRollCall,EditRollCall,DeleteRollCall,ListOfRollCalls,PrintRollCalls,LogoutAllMembers,AddCard,DeleteCard,MaleCards,FemaleCards,PrintCards,MalePeople,FemalePeople,AddPerson,EditPerson,DeletePerson,ListOfUsers,AddUser,EditUser,DeleteUser,ListOfActivities,ListOfPlannings,AddPlanning,EditPlanning,DeletePlanning,ListOfSalons,AddSalon,EditSalon,DeleteSalon,ListOfAccounts,AddAccount,EditAccount,DeleteAccount,ListOfProducts,AddProduct,EditProduct,DeleteProduct,PrintProducts,ShopEnable,ListOfSales,AddSale,EditSale,DeleteSale,PrintSales,PrintSale,PrintLedger,ListOfCostCenters,AddCostCenter,EditCostCenter,DeleteCostCenter,ListOfCosts,AddCost,EditCost,DeleteCost,PrintCosts,CostsDiagram,ListOfUnits,AddUnit,EditUnit,DeleteUnit,ListOfCategories,AddCategory,EditCategory,DeleteCategory,Report,CoachRollCall,CapacityPlanning,DatabaseSetting,CardReaderSetting,SmsCenterSetting,RestoreSetting,DateTimeSetting,CardSetting,FishPrintSetting,AddLock,EditLock,DeleteLock,ListOfLocks,DeliveryLockToMember,DeliveryLockFromMember,ListOfLockHistories,DeliveryAllLocksFromMembers'